In [1]:
a = 10
b = 20
c = a + b
print("a + b = ",c)
c = a - b
print("a - b = ",c)
c = a * b
print("a * b = ",c)
c = a / b
print("a / b = ",c)

a + b =  30
a - b =  -10
a * b =  200
a / b =  0.5

In [2]:
#Basic string manipulations
#Define strings
str1 = "Hello"
str2 = "World"

#Concatenate the strings
str3 = str1 + " " + str2
print("Concatenated string:", str3)

#Repeat a string
str4 = str1 * 3
print("Repeated string:", str4)

#Access a character by index
print("Character at index 1:", str1[1])

#Slice a substring
print("Substring from index 1 to 3:", str1[1:3])

#Find the length of a string
print("Length of string:", len(str1))

#Convert a string to uppercase
print("Uppercase string:", str1.upper())

#Convert a string to lowercase
print("Lowercase string:", str1.lower())

#Remove whitespace from both sides of a string
str5 = "   Hello World   "
print("String with whitespace:", str5)
print("String without whitespace:", str5.strip())

#Replace a substring
print("Replaced String:", str1.replace("Hello", "Goodbye"))

Concatenated string: Hello World
Repeated string: HelloHelloHello
Character at index 1: e
Substring from index 1 to 3: el
Length of string: 5
Uppercase string: HELLO
Lowercase string: hello
String with whitespace:    Hello World
String without whitespace: Hello World
Replaced String: Goodbye

In [3]:
#basic conditional statements
x = 10
y = 5

if x > y:
  print("x is greater than y")
elif x < y:
  print("x is less than y")
else:
  print("x is equal to y")

#Code 2

age = 18

if age >= 18:
  print("You are an adult")
else:
  print("You are a minor")

x is greater than y
You are an adult

In [4]:
#creating list
List = [1, 2, 4, 'For', 6]

#adding element
List.append(5)

#removing element
List.remove('For')

#modifying list
List[1] = 9

print("Updated list:",List)

Updated list: [1, 9, 4, 6, 5]

In [5]:
#creating set
Set = {1, 2, 3, 4, 7, 6}

#adding element
Set.add(5)

#removing element
Set.remove(7)

#modifying
Set.discard(1)

print("Updated set:",Set)

Updated set: {2, 3, 4, 5, 6}

In [6]:
#creating dictionary
Dict = {
"brand": "Honda",
"model": "City",
"year": 2018
}

#adding element
Dict['price'] = 'Rs.20,00,000'

#removing element
del Dict['brand']

#modifying
Dict['model'] = 'Civic'

print("Updated set:",Dict)

Updated set: {'model': 'Civic', 'year': 2018, 'price': 'Rs.20,00,000'}